*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    position: relative;
    min-height: 100vh;
}

@media (min-width:576px){
    body{
        padding-bottom: 15rem;
        
    }
}