.navbar-toggler {
  border: none;
}

.img-logo{
  max-width: 5rem;
  max-height: 5rem;
  width: auto;
  height: auto;
}

.text-logo{
  color: white;
}

.hero {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(5, 7, 12, 0.4), rgba(5, 7, 12, 0.4)),
    url(../imgs/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.hero__titulo {
  font-size: 5rem;
  color: white;
}

.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

 @-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}


.hero__subtitulo {
  font-size: 2rem;
  color: white;
  margin-bottom: 5rem;
}

.icono--whatsapp {
  position: fixed;
  width: 6rem;
  height: 6rem;
  line-height: 6rem;
  bottom: 3rem;
  right: 2rem;
  background: #0df053;
  color: #fff;
  border-radius: 5rem;
  text-align: center;
  font-size: 4rem;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.icono--whatsapp:hover {
  color: white;
}

.op-wp:hover {
  color: white;
  opacity: 0.8;
}

/*** SERVICIO ****/

.aa{
  height: 80vh;
}

.texto-deco {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-tamaño {
  width: 40rem;
  height: 40rem;
}

.card-img{
  max-width: 100rem;
  max-height: 100rem;
  height: auto;
  width: auto;
}
.flei {
  margin-top: 2.5rem;
  margin-left: 2rem;
  font-size: 2rem;
}

.fled {
  margin-top: 2.5rem;
  margin-right: 2rem;
  font-size: 2rem;
}

/*** EMPRESA ***/

.contenedor-img-empresa{
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-empresa-tamaño{
  height: 30rem;
  width: 35rem;
}

.sn-color{
  color: $color-principal;
  font-size: 3rem;
}

.texto-centrado{
  height: 50rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin-top: 2rem;
}


/*** NORMATIVAS ***/

.container-nor{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-normativa{
  display: flex;
  align-items: center;
  justify-content: center;
}

.pdf-text{
  font-weight: bold;
}

.ul-normativas {
  list-style: circle;
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.nor-link {
  text-decoration: none;
  color: black;
}

.nor-link:hover {
  color: $color-principal;
  opacity: 0.5;
}

.img-respo {
  max-width: 35rem;
  max-height: 35rem;
  height: auto;
  width: auto;
}

/*** CONTACTO ***/

.contacto{
  background-color: $color-principal;
  padding: 3rem;
}

.link-contacto{
  text-decoration: none;
  color: white;
}

.link-contacto:hover{
  color: white;
}

.form{
  background-color: white;
  padding: 3rem;
}

.title-men{
  color: $color-principal;
}



