.navbar-toggler {
  border: none;
}

.hero {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(5, 7, 12, 0.4), rgba(5, 7, 12, 0.4)),
    url(../imgs/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.hero__titulo {
  font-size: 5rem;
  color: white;
}

.hero__subtitulo {
  font-size: 2rem;
  color: white;
  margin-bottom: 5rem;
}

.icono--whatsapp {
  position: fixed;
  width: 6rem;
  height: 6rem;
  line-height: 6rem;
  bottom: 3rem;
  right: 2rem;
  background: #0df053;
  color: #fff;
  border-radius: 5rem;
  text-align: center;
  font-size: 4rem;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.icono--whatsapp:hover {
  color: white;
}

.op-wp:hover {
  color: white;
  opacity: 0.8;
}

/*** SERVICIO ****/

.texto-deco {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-tamaño {
  width: 50rem;
  height: 50rem;
}

.flei {
  margin-top: 2.5rem;
  margin-left: 2rem;
  font-size: 2rem;
}

.fled {
  margin-top: 2.5rem;
  margin-right: 2rem;
  font-size: 2rem;
}

/*** EMPRESA ***/

.img-empresa-tamaño{
  height: 30rem;
  width: 36rem;
}
.sn-color{
  color: $color-principal;
  font-size: 3rem;
}

.texto-centrado{
  height: 50rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin-top: 2rem;
}


/*** NORMATIVAS ***/

.container-ul {
  margin-top: 10rem;
  margin-left: 20rem;
}

.container-ul--2 {
  margin-top: 14rem;
  margin-left: 20rem;
}

.ul-normativas {
  font-size: 2rem;
  list-style: none;
}

.nor-link {
  text-decoration: none;
  color: black;
}

.nor-link:hover {
  color: $color-principal;
  opacity: 0.5;
}

.img-respo {
  max-width: 37.5rem;
  max-height: 37.5rem;
  height: auto;
  width: auto;
}
