.container-ul{
    margin-top: 10rem;
    margin-left: 20rem;
}

.container-ul--2{
    margin-top: 14rem;
    margin-left: 20rem;
}

.ul-normativas{
    font-size: 2rem;
}

.nor-link{
    text-decoration: none;
    color: black;
}

.nor-link:hover{
    color: black;
    opacity: 0.50;
}

.img-respo{
    max-width: 37.5rem;
    max-height: 37.5rem;
    height: auto;
    width: auto;
}

@media (min-width:576px){
    .img-nor{
        max-width: 60rem;
        max-height: 60rem;
        height: auto;
        width: auto;
        margin-left: 2rem;
    }
}
