.header-secundario{
    background-color: black;
    position:sticky;
}

.link-op:hover{
    color: black;
    opacity: 0.50;
}

.btn-centrar{
    margin-left: 17rem
}

.btn-centrar--antult{
    margin-left: 17.5rem;
}

.btn-centrar--ult{
    margin-left: 18rem;
}

.texto-deco{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flei{
    margin-top: 2.5rem;
    margin-left: 2rem;
    font-size: 2rem;
}

.fled{
    margin-top: 2.5rem;
    margin-right: 2rem;
    font-size: 2rem;
}

@media (min-width:768px){
    .container-servicio{
        height: 55vh;
    }

    footer{
        margin-top: 15rem;
    }
}
