.header-secundario{
    background-color: black;
    position:sticky;
}

.btn-centrar{
    margin-left: 17rem
}

.btn-centrar--antult{
    margin-left: 17.5rem;
}

.btn-centrar--ult{
    margin-left: 18rem;
}